<blockquote>
<p style="text-align: center;">Success is not final, failure is not fatal, it is the courage to continue that counts.<br>
<cite>Winston Churchill</cite></p>
</blockquote>

<%= render 'form' %>